<div class="row">
    <div class="col-md-2">
        <h5><b>Id: </b>{{proveedorIdR}}</h5>
    </div>
    <div class="col-md-7">
        <h5><b>Nombre: </b>{{proveedorNombreR}}</h5>
    </div>
    <div class="col-md-2">
    </div>
</div>
<form [formGroup]="formOrden">

    <div class="row">
        <!--/span-->
        <div class="col-md-2">
            <select class="form-control" 
            name="medida"
            formControlName="medida">
                <option value="caja">Caja</option>
                <option value="kilo">Kilo</option>
                <option calue="pieza">Pieza</option>
            </select>
        </div>
        <ng-container *ngIf="formOrden.get('medida').value != undefined">
        <!--/span-->
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" autocomplete="off"
                class="form-control"
                placeholder="cantidad"
                name="cantidad"
                formControlName="cantidad">
            </div>  
        </div> 
        <!--/span-->
        <div class="col-md-2">
            <div class="form-group">
                <input type="Text" autocomplete="off"
                class="form-control"
                placeholder="Producto"
                name="producto"
                formControlName="producto">
            </div>  
        </div>   
        <!--/span-->
        <div class="col-md-3">
            <div class="form-group">
                <input type="Text" autocomplete="off"
                class="form-control"
                placeholder="Producto"
                name="productoNombre"
                formControlName="productoNombre">
            </div>  
        </div>   
        <!--/span-->
        <div class="col-md-2" *ngIf="formOrden.get('medida').value == 'caja'">
            <div class="form-group">
                <input type="number" autocomplete="off"
                class="form-control"
                placeholder="Esperado"
                name="pesoEsperado"
                formControlName="pesoEsperado">
            </div>  
        </div>   
        <!--/span-->
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" autocomplete="off"
                class="form-control"
                placeholder="Precio"
                name="precio"
                formControlName="precio">
            </div>  
        </div>   
        <!--/span-->
        <div class="col-md-2" *ngIf="formOrden.get('medida').value == 'caja'">
            <div class="form-group">
                <input type="number" autocomplete="off"
                class="form-control"
                placeholder="Peso"
                name="peso"
                formControlName="peso">
            </div>  
        </div>  
        <!--/span-->
        <div class="col-md-2">
            <div class="form-group">
                <input type="number"
                disabled
                class="form-control"
                placeholder="Total"
                name="total"
                formControlName="total">
            </div>  
        </div>  
        <!--/span-->
        <div class="col-md-1">
            <button *ngIf="iProducto != undefined" (click)="actualizarProducto()"type="button" class="btn btn-success"><i class="fa fa-pencil"></i></button>
            
            <button *ngIf="iProducto == undefined" (click)="agregarProducto()" type="button" class="btn btn-info"><i class="fa fa-plus"></i></button>       
        </div>   
        </ng-container>
    </div>
    
    <div class="table-responsive m-t-20 no-wrap" >
        <table class="table vm no-th-brd pro-of-month">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Producto</th>
                    <th>Kg</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let producto of arrayProducto; let i = index;">
                    <tr>
                        <td>{{producto.idProducto}}</td>
                        <td>{{producto.producto}}</td>
                        <td>{{producto.peso}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.total}}</td>
                        <td>
                            <button (click)="borrarProducto(i)" type="button" class="btn btn-danger ml-2"><i class="fa fa-trash"></i></button>
                            <button (click)="editarProducto(i)" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    
</form>
            