<!-- ============================================================== -->
<!-- Tod do and profile -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card animated fadeInLeft">
            <div class="card-body">
                <h4 class="card-title">Support Ticket List</h4>
                <h6 class="card-subtitle">List of ticket opend by customers</h6>
                <div class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">2,064</h1>
                                <h6 class="text-white">Total Tickets</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-primary text-center">
                                <h1 class="font-light text-white">1,738</h1>
                                <h6 class="text-white">Responded</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">1100</h1>
                                <h6 class="text-white">Resolve</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-dark text-center">
                                <h1 class="font-light text-white">964</h1>
                                <h6 class="text-white">Pending</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-8">
        
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Ordenes de compra</h4>
                    </div>
                    <div class="ml-auto"> 

                        <button class="btn btn-danger mr-2" (click)="borrarOrden()"><i class="fa fa-trash"></i></button>
                       
                        <button class="btn btn-info mr-2" (click)="editarOrden()"><i class="fa fa-pencil"></i></button>
                    
                        <button class="btn btn-success" (click)="crearOrden()"><i class="ti-plus"></i></button>
                    
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th >ID</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody class="accordion" id="accordionExample">
                            <ng-container *ngFor="let orden of ordenesRecientes; let i = index;">
                            <tr (click)="obtenerOrden(orden.payload.doc.data())" (dblclick)="verOrden(orden.payload.doc.data())">
                                <td>OC-{{orden.payload.doc.data()['id']}}</td>
                                <td>{{orden.payload.doc.data()['nombreProveedor']}}</td>
                                <td>{{orden.payload.doc.data()['fecha'] | date: 'short'}}</td>
                                <td *ngIf="orden.payload.doc.data()['estado'] == false"><span class="label label-info label-rounded">en espera</span></td>
                                <td *ngIf="orden.payload.doc.data()['estado'] == true"><span class="label label-info label-rounded">recibido</span></td>
                                
                            </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
     
</div>
