<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>Usuario</b> <span class="pull-right">OC-{{infOrden.id}}</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address *ngFor="let proveedor of infProveedor; let i = index;">
                            <img src="assets/images/logo-text.png"   alt="">
                            <h4 class="font-bold">{{proveedor.nombreProveedor}}</h4>
                            <p class="text-muted m-l-30">Colonia: {{proveedor.colonia}}
                                <br/>Pais: {{proveedor.pais}}
                                <br/>Estado: {{proveedor.estado}}
                                <br/>R.F.C: {{proveedor.rfc}}
                                <br/>C.P: {{proveedor.cp}}</p>
                            <p class="m-t-30"><b>Fecha de orden : </b> <i class="fa fa-calendar"></i> {{infOrden.fecha | date: 'short'}}</p>
                            <p class="m-t-30"><b>Fecha de entrada : </b> <i class="fa fa-calendar"></i> {{fecha | date: 'short'}}</p>
                            
                        </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                            
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Peso</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let entrada of productoProveedor; let i = index;">
                                <tr>
                                    <td>{{entrada.payload.doc.data()['idProducto']}}</td>
                                    <td>{{entrada.payload.doc.data()['producto']}}</td>
                                    <td>{{entrada.payload.doc.data()['peso']}}</td>
                                    <td>{{entrada.payload.doc.data()['precio']}}</td>
                                </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: $13,848</p>
                        <p>vat (10%) : $138 </p>
                        <hr>
                        <h3><b>Total :</b> $13,986</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-danger" type="submit"> Proceed to payment </button>
            <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->


