
                    <!-- Column -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="agregar" role="tabpanel">
                    <div class="card-body">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header bg-info">
                                        
                                        <div class="ml-auto">
                                            <h4 class="m-b-0 text-white">Agregar un Proveedor</h4>
                                            <button class="pull-right btn btn-circle btn-success" data-toggle="modal" data-target="#myModal"><i class="ti-plus"></i></button>
                                        </div>
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <!-- <app-modal-entrada></app-modal-entrada> -->
                                            <app-modal-proveedores></app-modal-proveedores>
                                        </div>
                                    </div>
                                    
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="table-responsive m-t-20 no-wrap">
                                                <table class="table vm no-th-brd pro-of-month">
                                                    <thead>
                                                        <tr>
                                                            <th >ID</th>
                                                            <th>Nombre</th>
                                                            <th>RFC</th>
                                                            <th>Ciudad</th>
                                                            <th>Factura</th>
                                                            <th>Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngFor="let proveedor of proveedores; let i = index">
                                                        <tr>
                                                            <td style="width:50px;"><span class="round">{{ proveedor.payload.doc.data()['id']}}</span></td>
                                                            <td>{{ proveedor.payload.doc.data()['nombreProveedor']}}</td>
                                                            <td>{{ proveedor.payload.doc.data()['rfc']}}</td>
                                                            <td>{{ proveedor.payload.doc.data()['ciudad']}}</td>
                                                            <td *ngIf="proveedor.payload.doc.data()['factura']==true">Si</td>
                                                            <td *ngIf="proveedor.payload.doc.data()['factura']==false">No</td>
                                                            <td>
                                                            <button (click)="borrarProveedor(proveedor.payload.doc.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                            <button  (click)="mostrarProveedor(proveedor.payload.doc.id)" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    <!-- Column -->



<!-- ============================================================== -->
<!-- Tabla de productos -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Tabla de productos -->
<!-- ============================================================== -->