 <!-- Column -->
 <div class="col-lg-12">
    <div class="card">
        <tabset>
            <tab heading="Ver" id="tab1">
            </tab>
            <tab heading="Administrar">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="table-responsive m-t-20 no-wrap">
                                        
                                        <div class="ml-auto">
                                            <h4 class="m-b-0 text-white">Proveedores</h4>
                                            <button class="pull-right btn btn-circle btn-success" (click)="openModal(template)"><i class="ti-plus"></i></button>
                                        </div>
                                        <ng-template #template>
                                            <app-modal-clientes [clienteRef]="cliente" [closeModal]="modalRef" [idClienteRef]="idCliente"></app-modal-clientes>
                                        </ng-template>

                                        <table class="table vm no-th-brd pro-of-month">
                                            <thead>
                                                <tr>
                                                    <th >ID</th>
                                                    <th>Nombre</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let cliente of tablaClientes; let i = index">
                                                <tr>
                                                    <td style="width:50px;"><span class="round">{{ cliente.payload.doc.data()['id']}}</span></td>
                                                    <td>{{ cliente.payload.doc.data()['nombreCliente']}}</td>
                                                    <td>
                                                    <button (click)="borrarCliente(cliente.payload.doc.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                    <button  (click)="editarCliente(template, cliente.payload.doc.data(), cliente.payload.doc.id)" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>