<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-left">{{fecha | date: 'short'}}</h4>
            <button type="button" class="close" (click)="salir()"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body animated fadeIn">
            <app-select-proveedor (ProveedorSeleccionado)="recibirProveedor($event)"></app-select-proveedor>
        </div>
    </div>
</div>
