<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-left">12 de mayo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formEntrada" (ngSubmit)="altaEntrada()" class="form-material">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>Proveedor</label>
                                <input type="text" class="form-control"
                                placeholder="Proveedor"
                                name="proveedor"
                                formControlName="proveedor">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>Producto</label>
                                <input type="text" class="form-control" 
                                placeholder="Producto"
                                name="producto"
                                formControlName="producto">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label class="control-label">$ por</label>
                            <div class="switch">
                                <label class="control-label">C</label>
                                <label>
                                <input class="form-control custom-select"
                                type="checkbox"
                                name="CoKg"
                                formControlName="CoKg"><span class="lever switch-col-deep-orange"></span></label>
                                <label class="control-label">Kg</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label class="control-label">Nuestras</label>
                            <div class="switch">
                                <label class="control-label">Sí</label>
                                <label>
                                <input class="form-control custom-select"
                                type="checkbox"
                                name="nuestrasCajas"
                                formControlName="nuestrasCajas"><span class="lever switch-col-deep-orange"></span></label>
                                <label class="control-label">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Cajas</label>
                                <input type="number" class="form-control" 
                                placeholder="Cajas"
                                name="cajas"
                                formControlName="cajas">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Tipo</label>
                                <input type="number" class="form-control" 
                                placeholder="Tipo"
                                name="pesoCaja"
                                formControlName="pesoCaja">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Tarima</label>
                                <input type="number" class="form-control" 
                                placeholder="Peso"
                                name="pesoTarima"
                                formControlName="pesoTarima">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>Esperado</label>
                                <input type="number" class="form-control" 
                                placeholder="Peso"
                                name="pesoEsperado"
                                formControlName="pesoEsperado">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>Bascula</label>
                                <input type="number" class="form-control" 
                                placeholder="Peso"
                                name="pesoBascula"
                                formControlName="pesoBascula">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Peso/Caja</label>
                                <input type="number" class="form-control" 
                                placeholder="Tipo"
                                value="{{pesoPorCaja}}"
                                disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Destarado</label>
                                <input type="number" class="form-control" 
                                placeholder="Destarado"
                                value="{{destarado}}"
                                disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>TotlEsprado</label>
                                <input type="number" class="form-control" 
                                placeholder="Tipo"
                                value="{{totalEsperado}}"
                                disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Peso/Caja</label>
                                <input type="number" class="form-control" 
                                placeholder="Tipo"
                                value="{{difDestTotlEsp}}"
                                disabled>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            
                            <div *ngIf="formEntrada.get('CoKg').value" class="form-group">
                                <label >$ Kg</label>
                                <input type="number" class="form-control" 
                                placeholder="$"
                                name="pagoKg"
                                formControlName="pagoKg">
                            </div>

                            <div *ngIf="!formEntrada.get('CoKg').value" class="form-group">
                                <label>$ Caja</label>
                                <input type="number" class="form-control" 
                                placeholder="$"
                                name="pagoC"
                                formControlName="pagoC">
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>$ Total</label>
                                <input *ngIf="formEntrada.get('CoKg').value" 
                                type="number" class="form-control" 
                                placeholder="$"
                                value="{{pagoTotalKg}}">
                                <input *ngIf="!formEntrada.get('CoKg').value"
                                type="number" class="form-control" 
                                placeholder="$"
                                value="{{pagoTotalC}}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button *ngIf="idProducto == undefined" (click)="agregarProducto()"type="button" class="btn btn-info"><i class="fa fa-plus"></i></button>
                            <button *ngIf="idProducto != undefined" (click)="actualizarProducto()"type="button" class="btn btn-success"><i class="fa fa-pencil"></i></button>
                        
                        </div>
                    </div>
                </div>
                <div class="table-responsive m-t-20 no-wrap" >
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Producto</th>
                                <th>Destarado</th>
                                <th>$</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let producto of arrayProducto; let i = index;">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{producto[1]}}</td>
                                <td>{{producto[2]}}</td>
                                <td>{{producto[10]}}</td>
                                <td>
                                    <button (click)="borrarProducto(i)" type="button" class="btn btn-danger ml-2"><i class="fa fa-trash"></i></button>
                                    <button (click)="editarProducto(i)" type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                </td>
                            </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                
            </form>
        </div>
        <div class="modal-footer">
            <button (click)="reiniciarFormEntrada()"type="button" class="btn btn-secondary">Close</button>
            <button (click)="altaEntrada()" type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
