
<div class="card">
    <div class="card-body">
            <form [formGroup]="formaDos">
                <div class="row p-t-20">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Tienda</label>
                            <input type="Text" 
                            class="form-control"
                            placeholder="Tienda"
                            name="tienda"
                            formControlName="tienda">
                            <small *ngIf="banderaCliente > 0"
                                class="form-text text-success">Existe
                                <ng-container *ngFor="let cliente of obtenerCliente">
                                    {{cliente.nombreCliente}}
                                </ng-container>
                            </small>
                            <small *ngIf="banderaCliente == 0"
                                class="form-text text-danger">No Existe</small>
                        </div>
                    </div>   
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Id</label>
                            <input type="Text" 
                            class="form-control"
                            placeholder="Producto"
                            name="producto"
                            formControlName="producto">
                        </div>  
                    </div>   
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input type="Text" 
                            class="form-control"
                            placeholder="Producto"
                            name="nombre"
                            formControlName="productoNombre">
                        </div>  
                    </div>   
                    <!--/span-->
                    <div class="col-md-1">
                        <label for="">Listo</label>
                        <button (click)="altaCajas()" type="button" class="btn btn-success mb-3"><i class="fa fa-check"></i> Listo</button>
                    </div> 
                    <div class="col-md-1">
                        <label for="">Imprimir</label>
                        <button (click)="imprimir()" type="button" class="btn btn-success mb-3"><i class="fa fa-print"></i> Imprimir</button>
                    </div>  
                </div>
            </form>
        <div class="table-responsive">
            <form  [formGroup]="forma" class="form-material m-t-40">
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">Pedido</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Pedido"
                                name="Pedido"
                                formControlName="pedido">
                            </div>
                        </div>   
                        <!--/span-->
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">Merma</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Merma"
                                name="Merma"
                                disabled
                                formControlName="merma">
                            </div>
                        </div>   
                        <!--/span-->
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">Kg Extra</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Kg Extra"
                                name="Kilos Extra"
                                formControlName="kilosEx">
                            </div>
                        </div>   
                        <!--/span-->
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">Total</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Total"
                                disabled
                                formControlName="total">
                            </div>
                        </div>  
                        <!--/span-->
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">Facturado</label>
                                <input type="number" style="background-color: #7cd5ff; color: white;"
                                class="form-control pl-2"
                                placeholder="Total" 
                                value="{{totalFacturar}}"
                                disabled>
                            </div>
                        </div> 
                        <!--/span-->
                        <div class="col-md-1">
                            <div class="form-group">
                                
                                <label *ngIf="Falta <= 0" class="control-label">Falta</label>
                                <label *ngIf="Falta > 0" class="control-label">Sobra</label>
                                <input [ngStyle]="{'background-color':Falta <= 0 ? 'red' : 'green' }" style="color: white;" type="number" 
                                class="form-control pl-2"
                                value="{{Sobra}}"
                                disabled>
                            </div>
                        </div>              
                    </div>                    
                </div>
            </form>
            <div class="table-responsive m-t-20 no-wrap" >
                <form [formGroup]="arreglo" class="form-material">
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                            <tr>
                                <th>Peso Tarima</th>
                                <th>Cajas</th>
                                <th>Tipo</th>
                                <th>Peso Caja</th>
                                <th>Bascula</th>
                                <th>Destarado</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="tarimas">
                            <ng-container *ngFor="let control of tarimas.controls; let i = index;">
                            <tr [formGroupName]="i">
                                <td><input type="number" 
                                    class="form-control"
                                    placeholder="Tarima"
                                    formControlName="tarima"></td>

                                <td><input type="number" 
                                    class="form-control"
                                    placeholder="Cajas"
                                    formControlName="cajas"></td>

                                <td><select type="number" 
                                    class="form-control"
                                    placeholder="Tipo de Caja"
                                    formControlName="tipo">
                                    <ng-container *ngFor="let tipo of llenarCajasSelect; let j = index;">
                                        <option value="{{tipo.payload.doc.id}}">{{tipo.payload.doc.data()['tipo']}}</option>
                                    </ng-container>
                                    </select>
                                </td>

                                <td><input type="number" 
                                    class="form-control"
                                    placeholder="Peso cajas"
                                    formControlName="peso"></td>

                                <td><input type="number" 
                                    class="form-control"
                                    placeholder="Bascula"
                                    formControlName="bascula"></td>

                                <td><input type="number"  
                                        class="form-control"
                                        placeholder="Destarado"
                                        formControlName="destarado"></td>

                                <td>
                                    <button (click)="borrarTarima(i)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>  
                            </ng-container>
                            <tr>
                                <td style="background-color: #7cd5ff; color: white;">{{totalTarimas}}</td>

                                <td style="background-color: #7cd5ff; color: white;">{{totalCajas}}</td>

                                <td></td>
                                <td></td>

                                <td style="background-color: #7cd5ff; color: white;">{{totalBascula}}</td>

                                <td style="background-color: #7cd5ff; color: white;">{{totalDestarado}}</td>

                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div>
            <div class="col-6">
                <button (click)="agregarTarima()" type="button" class="btn btn-info mt-3"><i class="fa fa-plus"></i> Tarima</button>
            </div>
        </div>
    </div>
</div>
<!-- Column -->