
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Simple Editable table</h4>
        <h6 class="card-subtitle">Just click on word which you want to change and enter</h6>
        <div class="table-responsive">
            <form  [formGroup]="forma" class="form-material m-t-40">
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Pedido</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Pedido"
                                name="Pedido"
                                (blur)="reiniciarForm()"
                                formControlName="pedido">
                            </div>
                        </div>   
                        <!--/span-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Merma</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Merma"
                                name="Merma"
                                (blur)="reiniciarForm()"
                                formControlName="merma">
                            </div>
                        </div>   
                        <!--/span-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Kilos Extra</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Kilos Extra"
                                name="Kilos Extra"
                                (blur)="reiniciarForm()"
                                formControlName="kilosEx">
                            </div>
                        </div>   
                        <!--/span-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Total</label>
                                <input type="number" 
                                class="form-control"
                                placeholder="Total"
                                disabled
                                formControlName="total">
                            </div>
                        </div>   
                       
                    </div>
                    <div class="table-responsive m-t-20 no-wrap" >
                        <form [formGroup]="arreglo">
                            <table class="table vm no-th-brd pro-of-month">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Peso Tarima</th>
                                        <th>Cajas</th>
                                        <th>Peso Caja</th>
                                        <th>Bascula</th>
                                        <th>Destarado</th>
                                        <th>Borrar</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="tarimas">
                                    <ng-container *ngFor="let control of tarimas.controls; let i = index;">
                                        <tr [formGroupName]="i">
                                            <td>{{i + 1}}</td>
                                            <td><input type="number" 
                                                class="form-control"
                                                placeholder="Tarima"
                                                formControlName="tarima"></td>

                                            <td><input type="number" 
                                                class="form-control"
                                                placeholder="Cajas"
                                                formControlName="cajas"></td>

                                            <td><input type="number" 
                                                class="form-control"
                                                placeholder="Peso cajas"
                                                formControlName="peso"></td>

                                            <td><input type="number" 
                                                class="form-control"
                                                placeholder="Bascula"
                                                formControlName="bascula"></td>

                                            <td><input type="number" 
                                                class="form-control"
                                                placeholder="Destarado"
                                                formControlName="destarado"></td>

                                            <td>
                                                <button (click)="borrarTarima(i)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>    
                                    </ng-container>
                                    
                                </tbody>
                            </table>
                        </form>
                        <div>
                            <div class="col-6">
                                <button (click)="agregarTarima()" type="button" class="btn  btn-info mb-3"><i class="fa fa-plus"></i>Tarima</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>

            <pre>
                Total facturado: {{totalFacturar}}
                <br>
                te falta: {{Falta}}
            </pre>

            <pre>
            </pre>
        </div>
    </div>
</div>
<!-- Column -->